body {
	background: #96c2f5c1 url('photos/background_white.png');
	font: 16px Arial, helvetica, sans-serif;
}

#main {
	width: 900px;
}

#menu {
	background: black;
	padding: 15px;
}

#content {
	background:#add8e6;
	padding: 15px;
}

a {
	color: #add8e6;
	text-shadow: 0.1em 0.1em 0.15em;
	text-decoration: none;
	font-weight: bold;
	padding: 15px;
}

.align_center {
				text-align: center;
}

h1 {
	color: rgb(18, 29, 2);
	font-size: 16px;
}

.hobbies {
	border: 10px solid #add8e6;
}

.contact_us_ {
	border: 5px solid #add8e6;
	background-color: #add8e6;

}
